In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
from scipy.optimize import minimize
from skfda import FDataGrid
from skfda.preprocessing.smoothing import BasisSmoother
from skfda.representation.basis import FourierBasis
from skfda.exploratory.visualization import FPCAPlot
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline
from skfda.preprocessing.dim_reduction.feature_extraction import FPCA
from joblib import Parallel, delayed
from tqdm import tqdm

In [4]:
data_dir='levelups_panel_1004_final.csv'
data=pd.read_csv(data_dir, encoding=False)
data

,player_slug,character_slug,first_session_level,binger,total_purchase,total_ad,highest_level,status,level_from,level_to,...,prev_interval,interval_ratio,interval_until,realtime_tot,level_to_by_10,time_diff,more_than_3_hours,total_num_played,interval_tot,rounded_ratio
0,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,1,2,...,0.010667,1.000000,0.020556,3.726111,"(0, 10]",0 days 00:00:14,False,0,3.726111,1.0
1,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,2,3,...,0.020556,0.202703,0.024722,3.726111,"(0, 10]",0 days 00:00:21,False,0,3.726111,1.0
2,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,3,4,...,0.004167,1.466667,0.030833,3.726111,"(0, 10]",0 days 00:00:23,False,0,3.726111,1.0
3,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,4,5,...,0.006111,1.090909,0.037500,3.726111,"(0, 10]",0 days 00:01:10,False,0,3.726111,1.0
4,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,5,6,...,0.006667,2.958333,0.057222,3.726111,"(0, 10]",0 days 00:01:16,False,0,3.726111,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710815,2022-03-30T06:38:53.434Z,뿌숑,115.0,1,0.0,1.0,115,complete,95,96,...,0.059444,0.098131,2.621667,2.818333,"(90, 100]",0 days 00:00:10,False,0,2.818333,1.0
710816,2022-03-30T06:38:53.434Z,뿌숑,115.0,1,0.0,1.0,115,complete,96,97,...,0.005833,0.523810,2.624722,2.818333,"(90, 100]",0 days 00:02:50,False,0,2.818333,1.0
710817,2022-03-30T06:38:53.434Z,뿌숑,115.0,1,0.0,1.0,115,complete,97,98,...,0.003056,15.545455,2.672222,2.818333,"(90, 100]",0 days 00:04:19,False,0,2.818333,1.0
710818,2022-03-30T06:38:53.434Z,뿌숑,115.0,1,0.0,1.0,115,complete,98,99,...,0.047500,1.520468,2.744444,2.818333,"(90, 100]",0 days 00:04:25,False,0,2.818333,1.0
710819,2022-03-30T06:38:53.434Z,뿌숑,115.0,1,0.0,1.0,115,complete,99,100,...,0.072222,1.023077,2.818333,2.818333,"(90, 100]",NaN,False,0,2.818333,1.0

In [7]:
binge=data['rounded_ratio'].quantile(0.80)
binge

0.89

In [11]:
data['binge'] = data.apply(lambda row: 1 if row['rounded_ratio'] >= binge else 0, axis=1)

In [13]:
data_last= data.drop_duplicates(subset='player_slug', keep='last')
data_last

,player_slug,character_slug,first_session_level,binger,total_purchase,total_ad,highest_level,status,level_from,level_to,...,prev_interval,interval_ratio,interval_until,realtime_tot,level_to_by_10,time_diff,more_than_3_hours,total_num_played,interval_tot,rounded_ratio
98,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,99,100,...,0.401944,1.280581,3.726111,3.726111,"(90, 100]",NaN,False,0,3.726111,1.00
197,2021-11-01T14:12:34.729Z,레서판다,71.0,1,0.0,0.0,102,complete,99,100,...,0.002222,0.875000,4.596889,13.554167,"(90, 100]",NaN,False,1,4.596889,0.34
296,2021-11-01T15:01:02.831Z,벤쿤,10.0,0,0.0,0.0,129,complete,99,100,...,0.121111,1.119266,4.739389,22.170833,"(90, 100]",NaN,False,2,4.739389,0.21
395,2021-11-01T15:10:02.121Z,딸건,8.0,0,3300.0,2.0,115,complete,99,100,...,0.157778,1.588028,5.613056,130.908889,"(90, 100]",NaN,False,2,5.613056,0.04
494,2021-11-01T15:16:50.510Z,아픈발꾸락,20.0,0,0.0,85.0,123,complete,99,100,...,0.051389,218.708108,12.723278,91.696667,"(90, 100]",NaN,False,5,12.723278,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710423,2022-03-28T00:01:33.666Z,벤쿱,99.0,1,3300.0,2.0,103,complete,99,100,...,0.174722,3.438792,5.423167,6.873611,"(90, 100]",NaN,False,0,5.423167,0.79
710522,2022-03-28T07:44:40.201Z,도오옹건,87.0,1,0.0,0.0,139,complete,99,100,...,0.043056,1.567742,8.681944,27.251944,"(90, 100]",NaN,False,3,8.681944,0.32
710621,2022-03-28T11:06:23.113Z,구또,47.0,0,122100.0,0.0,124,complete,99,100,...,0.172222,0.869355,2.715056,3.178889,"(90, 100]",NaN,False,0,2.715056,0.85
710720,2022-03-29T09:29:33.653Z,이가탄,7.0,0,0.0,6.0,120,complete,99,100,...,0.093333,1.101190,2.575833,23.934722,"(90, 100]",NaN,False,2,2.575833,0.11
710819,2022-03-30T06:38:53.434Z,뿌숑,115.0,1,0.0,1.0,115,complete,99,100,...,0.072222,1.023077,2.818333,2.818333,"(90, 100]",NaN,False,0,2.818333,1.00

In [21]:
data_last[(data_last['status']=='drop') & (data_last['binge']==1)]

,player_slug,character_slug,first_session_level,binger,total_purchase,total_ad,highest_level,status,level_from,level_to,...,prev_interval,interval_ratio,interval_until,realtime_tot,level_to_by_10,time_diff,more_than_3_hours,total_num_played,interval_tot,rounded_ratio
1286,2021-11-02T11:20:22.086Z,투볍,100.0,1,0.0,8.0,100,drop,99,100,...,0.350000,0.991270,4.604722,4.604722,"(90, 100]",NaN,False,0,4.604722,1.00
2573,2021-11-04T14:17:04.890Z,보탱이,98.0,1,0.0,2.0,100,drop,99,100,...,0.154444,33.705036,8.216389,8.216389,"(90, 100]",NaN,False,1,8.216389,1.00
22868,2021-11-26T04:50:08.676Z,대천사,100.0,1,0.0,0.0,100,drop,99,100,...,0.162500,1.030769,4.998056,4.998056,"(90, 100]",NaN,False,0,4.998056,1.00
28214,2021-12-03T19:43:46.891Z,ARLN,89.0,1,0.0,0.0,100,drop,99,100,...,0.298889,8.500000,8.943611,8.943611,"(90, 100]",NaN,False,1,8.943611,1.00
54548,2021-12-18T02:38:05.416Z,오도리소천,58.0,1,0.0,6.0,100,drop,99,100,...,0.234167,0.550415,3.570833,3.570833,"(90, 100]",NaN,False,0,3.570833,1.00
93554,2021-12-19T02:23:40.839Z,주왕,59.0,1,0.0,1.0,100,drop,99,100,...,0.166111,1.290970,5.489611,5.493056,"(90, 100]",NaN,False,0,5.489611,1.00
107414,2021-12-19T08:31:18.894Z,이리,100.0,1,19800.0,1.0,100,drop,99,100,...,0.075000,1.274074,3.586667,3.586667,"(90, 100]",NaN,False,0,3.586667,1.00
112859,2021-12-19T11:10:43.875Z,라이즈,100.0,1,0.0,12.0,100,drop,99,100,...,0.180278,2.827427,5.593778,5.927222,"(90, 100]",NaN,False,0,5.593778,0.94
132065,2021-12-20T03:46:22.528Z,잘될기야,63.0,1,0.0,1.0,100,drop,99,100,...,0.002500,38.777778,6.270000,6.270000,"(90, 100]",NaN,False,0,6.270000,1.00
132560,2021-12-20T04:18:40.112Z,두야,100.0,1,3300.0,0.0,100,drop,99,100,...,0.135833,1.024540,2.990833,2.990833,"(90, 100]",NaN,False,0,2.990833,1.00
133550,2021-12-20T04:52:24.850Z,전멸,81.0,1,23100.0,0.0,100,drop,99,100,...,0.180278,4.499230,5.196667,5.196667,"(90, 100]",NaN,False,0,5.196667,1.00
141371,2021-12-20T11:42:43.613Z,침대밑고양이,100.0,1,9900.0,7.0,100,drop,99,100,...,0.098333,1.607345,3.390278,3.390278,"(90, 100]",NaN,False,0,3.390278,1.00
184337,2021-12-22T13:49:09.159Z,지구,100.0,1,0.0,6.0,100,drop,99,100,...,0.109722,1.093671,4.091111,4.263889,"(90, 100]",NaN,False,0,4.091111,0.96
212948,2021-12-24T01:18:24.327Z,JYSH,55.0,1,0.0,0.0,100,drop,99,100,...,0.199167,1.188285,4.118889,4.118889,"(90, 100]",NaN,False,0,4.118889,1.00
233639,2021-12-25T04:20:19.553Z,메리,100.0,1,0.0,17.0,100,drop,99,100,...,0.240556,0.965358,4.246222,4.622778,"(90, 100]",NaN,False,0,4.246222,0.92
251261,2021-12-26T03:29:54.141Z,브루스,100.0,1,0.0,14.0,100,drop,99,100,...,1.079444,0.200206,4.832222,4.832222,"(90, 100]",NaN,False,0,4.832222,1.00
267992,2021-12-28T00:35:56.767Z,쎄쇼마루,81.0,1,0.0,1.0,100,drop,99,100,...,0.298611,1.165581,7.324722,7.324722,"(90, 100]",NaN,False,0,7.324722,1.00
268586,2021-12-28T03:02:34.805Z,essentia,67.0,1,0.0,0.0,100,drop,99,100,...,0.100278,1.725762,3.540833,3.540833,"(90, 100]",NaN,False,0,3.540833,1.00
279278,2021-12-30T09:30:37.320Z,어차피가문명,100.0,1,0.0,0.0,100,drop,99,100,...,0.020278,6.068493,7.042222,7.042222,"(90, 100]",NaN,False,0,7.042222,1.00
284723,2021-12-31T14:23:08.659Z,새우법사,79.0,1,0.0,0.0,100,drop,99,100,...,0.354167,0.680000,5.764444,5.764444,"(90, 100]",NaN,False,0,5.764444,1.00
294128,2022-01-02T07:51:06.017Z,아무거나나,100.0,1,0.0,22.0,100,drop,99,100,...,0.294444,1.203774,5.792778,5.792778,"(90, 100]",NaN,False,0,5.792778,1.00
317987,2022-01-23T07:13:29.274Z,브로리,100.0,1,0.0,3.0,100,drop,99,100,...,0.135833,2.065440,3.556667,3.556667,"(90, 100]",NaN,False,0,3.556667,1.00
324521,2022-02-02T16:43:23.278Z,운영자,100.0,1,3300.0,0.0,100,drop,99,100,...,0.269444,1.305155,3.671111,3.671111,"(90, 100]",NaN,False,0,3.671111,1.00
404018,2022-03-04T10:06:15.480Z,유흥남,100.0,1,0.0,0.0,100,drop,99,100,...,0.105278,1.176781,2.702833,2.864444,"(90, 100]",NaN,False,0,2.702833,0.94
406394,2022-03-04T12:28:59.784Z,썩쏘보단쌤,100.0,1,0.0,5.0,100,drop,99,100,...,0.078889,1.102113,2.569444,2.569444,"(90, 100]",NaN,False,0,2.569444,1.00
421343,2022-03-05T10:54:45.456Z,벤트오버,88.0,1,0.0,0.0,100,drop,99,100,...,0.095278,1.294461,2.564167,2.564167,"(90, 100]",NaN,False,0,2.564167,1.00
421541,2022-03-05T11:25:58.902Z,쿠키나라얌,100.0,1,0.0,6.0,100,drop,99,100,...,0.076667,1.130435,2.709167,2.709167,"(90, 100]",NaN,False,0,2.709167,1.00
424115,2022-03-05T13:57:00.540Z,아범,100.0,1,0.0,0.0,100,drop,99,100,...,0.223056,1.236613,4.498056,4.498056,"(90, 100]",NaN,False,0,4.498056,1.00
428966,2022-03-05T23:44:20.107Z,초코당,58.0,1,0.0,0.0,100,drop,99,100,...,0.168611,0.942339,3.943889,3.943889,"(90, 100]",NaN,False,0,3.943889,1.00
436193,2022-03-06T06:54:47.985Z,양파양파,100.0,1,0.0,7.0,100,drop,99,100,...,0.084167,1.026403,3.205556,3.205556,"(90, 100]",NaN,False,0,3.205556,1.00
439064,2022-03-06T09:41:54.422Z,마법사,60.0,1,0.0,4.0,100,drop,99,100,...,0.117222,1.113744,2.729167,2.729167,"(90, 100]",NaN,False,0,2.729167,1.00
453122,2022-03-06T22:44:51.567Z,매혹의사나이,100.0,1,0.0,12.0,100,drop,99,100,...,0.105556,2.602632,4.232222,4.232222,"(90, 100]",NaN,False,0,4.232222,1.00
502325,2022-03-08T08:04:07.713Z,열혈로우,93.0,1,0.0,7.0,100,drop,99,100,...,0.104167,0.490667,5.064611,5.440278,"(90, 100]",NaN,False,0,5.064611,0.93
503315,2022-03-08T08:32:25.303Z,사일런스톰,100.0,1,0.0,1.0,100,drop,99,100,...,0.121944,1.148064,3.151944,3.151944,"(90, 100]",NaN,False,0,3.151944,1.00
538559,2022-03-08T22:51:23.687Z,관평,99.0,1,0.0,2.0,100,drop,99,100,...,0.103333,21.486559,4.757222,4.757222,"(90, 100]",NaN,False,1,4.757222,1.00
541925,2022-03-09T00:46:03.434Z,니이림,98.0,1,0.0,0.0,100,drop,99,100,...,0.316111,0.323374,2.927778,2.927778,"(90, 100]",NaN,False,0,2.927778,1.00
564794,2022-03-09T08:26:18.523Z,관심,100.0,1,0.0,2.0,100,drop,99,100,...,0.077222,1.417266,2.376111,2.376111,"(90, 100]",NaN,False,0,2.376111,1.00
566378,2022-03-09T08:44:53.850Z,마포대교,100.0,1,0.0,7.0,100,drop,99,100,...,0.110833,1.137845,4.292278,4.841667,"(90, 100]",NaN,False,0,4.292278,0.89
587663,2022-03-09T21:19:14.540Z,블레이드,100.0,1,0.0,0.0,100,drop,99,100,...,0.104167,1.080000,2.226667,2.226667,"(90, 100]",NaN,False,0,2.226667,1.00
608453,2022-03-11T05:43:01.754Z,유들이,100.0,1,0.0,1.0,100,drop,99,100,...,0.104722,1.108753,3.122500,3.122500,"(90, 100]",NaN,False,0,3.122500,1.00
612809,2022-03-11T10:20:03.529Z,뱀뱀,100.0,1,0.0,0.0,100,drop,99,100,...,0.083056,1.140468,2.223333,2.223333,"(90, 100]",NaN,False,0,2.223333,1.00
620333,2022-03-11T14:38:30.349Z,달려라허니,100.0,1,0.0,0.0,100,drop,99,100,...,0.225000,1.182716,3.006111,3.006111,"(90, 100]",NaN,False,0,3.006111,1.00
626075,2022-03-12T00:23:20.043Z,응응응,100.0,1,0.0,0.0,100,drop,99,100,...,0.109722,1.030380,2.443333,2.443333,"(90, 100]",NaN,False,0,2.443333,1.00
627659,2022-03-12T02:16:39.450Z,갈릭,99.0,1,0.0,0.0,100,drop,99,100,...,0.106389,24.731070,6.004444,6.004444,"(90, 100]",NaN,False,1,6.004444,1.00
629144,2022-03-12T03:52:14.008Z,붉은피한송이,100.0,1,0.0,0.0,100,drop,99,100,...,0.104722,1.175066,3.195278,3.195278,"(90, 100]",NaN,False,0,3.195278,1.00
633104,2022-03-12T06:51:56.949Z,동아공장,92.0,1,0.0,0.0,100,drop,99,100,...,0.101389,1.684932,2.811389,2.811389,"(90, 100]",NaN,False,0,2.811389,1.00
634094,2022-03-12T07:46:33.360Z,니똥꼬당,100.0,1,0.0,0.0,100,drop,99,100,...,0.089722,1.074303,2.470833,2.470833,"(90, 100]",NaN,False,0,2.470833,1.00
634886,2022-03-12T08:10:42.908Z,데스나이트44,59.0,1,0.0,22.0,100,drop,99,100,...,0.151389,0.961468,3.357500,3.357500,"(90, 100]",NaN,False,0,3.357500,1.00
641024,2022-03-12T11:58:42.419Z,포넬로,100.0,1,0.0,0.0,100,drop,99,100,...,0.142222,0.734375,2.377778,2.377778,"(90, 100]",NaN,False,0,2.377778,1.00
642113,2022-03-12T12:31:48.643Z,모모,100.0,1,0.0,0.0,100,drop,99,100,...,0.112500,0.807407,2.388611,2.388611,"(90, 100]",NaN,False,0,2.388611,1.00
653795,2022-03-12T22:51:43.694Z,법령,23.0,0,3300.0,14.0,100,drop,99,100,...,0.097222,0.891429,6.413944,7.246667,"(90, 100]",NaN,False,1,6.413944,0.89
654191,2022-03-12T23:34:04.693Z,피트,82.0,1,0.0,0.0,100,drop,99,100,...,0.065833,3.953586,3.784722,3.784722,"(90, 100]",NaN,False,0,3.784722,1.00
657656,2022-03-13T04:36:17.936Z,riodic,100.0,1,0.0,0.0,100,drop,99,100,...,0.217222,0.005115,4.202556,4.278056,"(90, 100]",NaN,False,0,4.202556,0.98
660824,2022-03-13T07:15:42.045Z,알라묵,100.0,1,0.0,8.0,100,drop,99,100,...,0.025833,3.870968,3.150611,3.417778,"(90, 100]",NaN,False,0,3.150611,0.92
661814,2022-03-13T08:13:43.763Z,암흑썬더,78.0,1,0.0,1.0,100,drop,99,100,...,0.098056,2.569405,3.953056,3.953056,"(90, 100]",NaN,False,0,3.953056,1.00
676763,2022-03-14T08:50:06.406Z,차민홍,93.0,1,0.0,0.0,100,drop,99,100,...,0.081111,1.054795,3.510278,3.510278,"(90, 100]",NaN,False,0,3.510278,1.00
683594,2022-03-15T05:49:34.206Z,윤단,100.0,1,0.0,7.0,100,drop,99,100,...,0.054167,1.092308,2.255833,2.255833,"(90, 100]",NaN,False,0,2.255833,1.00
686564,2022-03-15T12:44:29.632Z,쁘종이,100.0,1,60500.0,0.0,100,drop,99,100,...,0.087778,1.050633,2.622667,2.736111,"(90, 100]",NaN,False,0,2.622667,0.96
702800,2022-03-19T11:55:24.557Z,왕자,100.0,1,0.0,1.0,100,drop,99,100,...,0.086667,2.080128,2.445556,2.445556,"(90, 100]",NaN,False,0,2.445556,1.00

## 2Stage Regression

In [23]:
data_dir='levelups_panel_1004_final.csv'
data=pd.read_csv(data_dir, encoding=False)
binge=data['rounded_ratio'].quantile(0.80)
data['binge'] = data.apply(lambda row: 1 if row['rounded_ratio'] >= binge else 0, axis=1)

In [22]:
data.columns

Index(['player_slug', 'character_slug', 'first_session_level', 'binger',
       'total_purchase', 'total_ad', 'highest_level', 'status', 'level_from',
       'level_to', 'event_datetime', 'death', 'ad_revival', 'ad_item',
       'ad_total', 'purchase', 'event_datetime_prev', 'interval',
       'interval_cum', 'playtime_boss', 'playtime_dungeon', 'playtime_tower',
       'playtime_pvp', 'playtime_farm', 'playtime_survival', 'playtime_side',
       'date_event', 'date_event_prev', 'same_date', 'date_interval', 'binge',
       'prev_interval', 'interval_ratio', 'interval_until', 'realtime_tot',
       'level_to_by_10', 'time_diff', 'more_than_3_hours', 'total_num_played',
       'interval_tot', 'rounded_ratio'],
      dtype='object')

In [24]:
columns_to_drop = ['level_from', 'event_datetime','event_datetime_prev','interval_cum','date_event','date_event_prev','same_date'
                   ,'date_interval','prev_interval','interval_until','level_to_by_10','time_diff']

In [25]:
# 컬럼 드랍
data_dropped = data.drop(columns=columns_to_drop)

# 결과 확인
data_dropped.head()

,player_slug,character_slug,first_session_level,binger,total_purchase,total_ad,highest_level,status,level_to,death,...,playtime_farm,playtime_survival,playtime_side,binge,interval_ratio,realtime_tot,more_than_3_hours,total_num_played,interval_tot,rounded_ratio
0,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,2,0.0,...,0.0,0.0,0.0,1,1.000000,3.726111,False,0,3.726111,1.0
1,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,3,0.0,...,0.0,0.0,0.0,1,0.202703,3.726111,False,0,3.726111,1.0
2,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,4,0.0,...,0.0,0.0,0.0,1,1.466667,3.726111,False,0,3.726111,1.0
3,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,5,0.0,...,0.0,0.0,0.0,1,1.090909,3.726111,False,0,3.726111,1.0
4,2021-11-01T10:41:53.949Z,화요,119.0,1,0.0,28.0,139,complete,6,0.0,...,0.0,0.0,0.0,1,2.958333,3.726111,False,0,3.726111,1.0